Digitalizacion2014/Service References/WSD2014/WSDatos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ivkProcedimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procedimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ivkProcedimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ivkProcedimientoResult" type="tns:cRetorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cRetorno">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sResultado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ds">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="bOk" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConexionesValidas">
        <s:complexType />
      </s:element>
      <s:element name="ConexionesValidasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConexionesValidasResult" type="tns:cRetorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="imagenesThumbnails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procedimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campoImg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="imagenesThumbnailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imagenesThumbnailsResult" type="tns:cRetorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerValor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="campo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cadena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="separador" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mayusculas" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerValorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerValorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ivkProcedimientoSoapIn">
    <wsdl:part name="parameters" element="tns:ivkProcedimiento" />
  </wsdl:message>
  <wsdl:message name="ivkProcedimientoSoapOut">
    <wsdl:part name="parameters" element="tns:ivkProcedimientoResponse" />
  </wsdl:message>
  <wsdl:message name="ConexionesValidasSoapIn">
    <wsdl:part name="parameters" element="tns:ConexionesValidas" />
  </wsdl:message>
  <wsdl:message name="ConexionesValidasSoapOut">
    <wsdl:part name="parameters" element="tns:ConexionesValidasResponse" />
  </wsdl:message>
  <wsdl:message name="imagenesThumbnailsSoapIn">
    <wsdl:part name="parameters" element="tns:imagenesThumbnails" />
  </wsdl:message>
  <wsdl:message name="imagenesThumbnailsSoapOut">
    <wsdl:part name="parameters" element="tns:imagenesThumbnailsResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerValorSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerValor" />
  </wsdl:message>
  <wsdl:message name="obtenerValorSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerValorResponse" />
  </wsdl:message>
  <wsdl:portType name="WSDatosSoap">
    <wsdl:operation name="ivkProcedimiento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Invocar un Procedimiento Almacenado en base a Reglamentación</wsdl:documentation>
      <wsdl:input message="tns:ivkProcedimientoSoapIn" />
      <wsdl:output message="tns:ivkProcedimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConexionesValidas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listado de Conexiones a Bases de Datos</wsdl:documentation>
      <wsdl:input message="tns:ConexionesValidasSoapIn" />
      <wsdl:output message="tns:ConexionesValidasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="imagenesThumbnails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Invocar un Procedimiento Almacenado en base a Reglamentación para el campo imagenes convertilo en Thumbnails</wsdl:documentation>
      <wsdl:input message="tns:imagenesThumbnailsSoapIn" />
      <wsdl:output message="tns:imagenesThumbnailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerValor">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trabajar con las Cadenas de Caracteres de Datos de acuerdo a reglas establecidas por el Desarrollador</wsdl:documentation>
      <wsdl:input message="tns:obtenerValorSoapIn" />
      <wsdl:output message="tns:obtenerValorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDatosSoap" type="tns:WSDatosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ivkProcedimiento">
      <soap:operation soapAction="http://tempuri.org/ivkProcedimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConexionesValidas">
      <soap:operation soapAction="http://tempuri.org/ConexionesValidas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="imagenesThumbnails">
      <soap:operation soapAction="http://tempuri.org/imagenesThumbnails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerValor">
      <soap:operation soapAction="http://tempuri.org/obtenerValor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDatosSoap12" type="tns:WSDatosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ivkProcedimiento">
      <soap12:operation soapAction="http://tempuri.org/ivkProcedimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConexionesValidas">
      <soap12:operation soapAction="http://tempuri.org/ConexionesValidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="imagenesThumbnails">
      <soap12:operation soapAction="http://tempuri.org/imagenesThumbnails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerValor">
      <soap12:operation soapAction="http://tempuri.org/obtenerValor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDatos">
    <wsdl:port name="WSDatosSoap" binding="tns:WSDatosSoap">
      <soap:address location="http://localhost:50932/WSDigitalizacion2014/WSDatos.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDatosSoap12" binding="tns:WSDatosSoap12">
      <soap12:address location="http://localhost:50932/WSDigitalizacion2014/WSDatos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>